.wrapper
  .header
    .header__top
      .header__top--left
        menu
      .header__top--right
        -if user_signed_in?
          = link_to edit_user_registration_path do
            設定
          = link_to destroy_user_session_path do
            ログアウト
        -else
          = link_to new_user_session_path do
            ログイン
          = link_to new_user_registration_path do
            会員登録
    .header__title
      %h1 空き家バンク
    =link_to class:"btn__icon" do
      = icon("fas", "fa-sign-in-alt")
  .main
    .contents
      .content1
        =render "menubar"
      .content2
        .topics
          .topic
            = link_to "photo", akiyas_path
          .topic
            写真
          .topic
            写真

          -# - @akiya.shuffle.first(3).each do |a|
          -#   .topic
          -#     = link_to "akiya_path(akiya)" do
          -#       = a.image

      .content__3
        .interview
          .interview__top
            .interview__top--title
              利用者の声
          .interview__content
            .interview__content--text
              いい物件と出会うことができました
              %br みんなにおすすめしたいです！

            .interview__content--text
              いい物件と出会うことができました
              %br みんなにおすすめしたいです！

            .interview__content--text
              いい物件と出会うことができました
              %br みんなにおすすめしたいです！

      .content__4
        .house
          .house__top
            .house__top--title
              掲載物件
      .content__5
        .map
          相談はこちらまで
          .p Query稼働テスト
          :javascript
            $(function(){
              $(document).ready(function(){
                $('.p').text('jQuery稼動テスト（稼働中）');
              });
            });
  =render "footer"