.wapper
  .header
    .title
      %h1 空き家バンク
    =link_to "", class:"btn__icon" do
      = icon("fas", "fa-sign-in-alt")
  .main
    .contents
      .content1
        .menu
          %ul.list
            %li
              = link_to do
                TOP
              -# =link_to "", class:"btn__icon" do
              -#   = icon('fas', 'fa-home')
            %li
              =link_to do
                猪名川町について
            %li
              =link_to do
                空き家バンクとは
            %li
              =link_to do
                掲載一覧
      .content2
        .topics
          .topic
            写真
          .topic
            写真
          .topic
            写真
      .content__3
        .interview
          .interview__top
            .interview__top--title
              利用者の声
          .interview__content
            .interview__content--text
              いい物件と出会うことができました
              %br みんなにおすすめしたいです！

            .interview__content--text
              いい物件と出会うことができました
              %br みんなにおすすめしたいです！

            .interview__content--text
              いい物件と出会うことができました
              %br みんなにおすすめしたいです！

      .content__4
        掲載物件
      .content__5
        .map
          相談はこちらまで
  .footer
    .menu
      %ul.list
        %li
          = link_to do
            top
        %li
          = link_to do
            猪名川町について
        %li
          = link_to do
            空き家バンクとは
        %li
          = link_to do
            掲載一覧