.wrapper
  = alert
  .main
    .contents
      .content1
        = render "menubar"
      .form__new
        .form__new--title
          物件情報を入力してください
        .form__new--contents
          = form_for @akiya do |f|
            .form__new--contents__address
              = f.label :address, "住所",class: "address"
              = f.text_field :address, class: "address__field"
            .form__new--contents__image
              = f.label :image, "画像",class: "image"
              = f.file_field :image, class: "image__field"
            .form__new--content__madori
              = f.label :madori, "間取り", class: "madori__field"
              = f.collection_select :madori_id, Madori.all, :madori, :madori, prompt: "選択してください"
            .form__new--contents__btn
              = f.submit class: "btn", value: "submit"