.wrapper
  .main
    .contents
      .content1
        = render "menubar"
    .form
      = form_for @akiya do |f|
        = f.label :address, "住所",class: "address"
        = f.text_field :address, class: "address_field"
        = f.file_field :image, class: "image_field"
        -# = f.select :category, [["古民家",1],["田舎", 2], ["駅近", 3]]
        = f.submit class: "btn"