.menu
  %ul.list
    %li
      = link_to do
        TOP
      -# =link_to "", class:"btn__icon" do
      -#   = icon('fas', 'fa-home')
    %li
      =link_to new_akiya_path do
        新規登録
    %li
      =link_to do
        空き家バンクとは
    %li
      =link_to do
        掲載一覧

.form
  = form_for @akiya do |f|
    = f.label :address, "住所",class: "address"
    = f.text_field :address
    = f.file_field :image
    = f.submit