.main
  .login
    .login__left
      %h2.login Log in
    .login__right
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :email, class: "login__email"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "login__email--box"
        .field
          = f.label :password, class: "login__password"
          %br/
          = f.password_field :password, autocomplete: "current-password", class: "login__password--box"
        .field
          .actions
            = f.submit "ログイン", class: "btn"
